.header {
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.logo:hover {
  color: #0056b3;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.searchContainer {
  margin-right: 60px;
}

.userContainer {
  margin-right: 30px;
  position: relative;
}

.userIcon {
  font-size: 32px;
  cursor: pointer;
}

.userContainer div {
  display: flex;
  gap: 15px; 
  font-size: 14px; 
}

.HeaderTextItem {
  display: block;
  padding: 6px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.HeaderDropItem:hover {
   color: gray;
}