.header {
  background-color: #f8f9fa;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Rockwell', serif;

}

.logo span:first-child {
  color: #007bff;  
}

.logo span:last-child {
  color: #1D3C6B;  
}

.logo:hover span:first-child {
  color: #0056b3;  
}

.logo:hover span:last-child {
  color: #0056b3;  
}



.rightContainer {
  display: flex;
  align-items: center;
}

.searchContainer {
  margin-right: 60px;
}

.userContainer {
  margin-right: 30px;
  position: relative;
}

.userIcon {
  font-size: 32px;
  cursor: pointer;
}

.userContainer div {
  display: flex;
  gap: 15px; 
  font-size: 14px; 
}

.HeaderTextItem {
  display: block;
  padding: 6px;
  text-align: center;
  color: gray;
  text-decoration: none;
}

.HeaderTextItem:hover {
   color: black;
}